<div class="ttag_input mdl-textfield mdl-js-textfield mdl-textfield--floating-label {% if input_field.errors %} is-invalid {% endif %}">
    <input class="mdl-textfield__input" type="text" id="{{ input_field.auto_id }}" value="{% if input_field.value %}{{ input_field.value }}{% endif %}" name="{{ input_field.name }}">
    <label class="mdl-textfield__label" for="{{ input_field.auto_id }}">{{ input_field.label }}</label>
    <span class="mdl-textfield__error">{{ input_field.errors.as_text }}</span>
</div>