{% load i18n %}
<div class="ttag_input mdl-textfield mdl-js-textfield mdl-textfield--floating-label {% if password_field.errors %} is-invalid {% endif %} {% if non_field_errors %} is-invalid {% endif %}">
    <input class="mdl-textfield__input" type="password" id="{{ id }}" name="password">
    <label class="mdl-textfield__label" for="{{ id }}">{% trans 'Password' %}</label>
    <span class="mdl-textfield__error">
    	{{ password_field.errors.as_text }}<br/>
    	{% for e in non_field_errors %}
    		{{ e }}
    	{% endfor %}
    </span>
</div>